@import './colorScheme';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    #main{
        width: 75vw;
        height: 100vh;
        background-color: $darker;
        position: relative;
        color: #fff;


    }
    #side{
        width : 20vw;
        height: 100vh;
        background-color: $darkest;
        z-index: 2;
        

        & .temp-container{
            width: 100%;
            margin-right: 2rem;
            padding: 2rem;
            // padding-top: 4rem;
            // background-color: red;

            .temp-wrapper{
                // background-color: $darker; 
                font-family: Arial, Helvetica, sans-serif ;
                display: flex;
                justify-content: space-between;
                
                section{
                    width: 50%;
                }
            }

            .location{
                color: #fff;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.4rem;
                .date{
                    padding-top: .45rem;
                    padding-bottom: .1rem;
                    font-size: 1rem;
                }
            }

            & .temp{
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 1.2rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                // text-align: center;
                padding-left: 2rem;
                span{
                    width: 100%;
                    line-height: 1.9rem;
                    font-size: 1.25rem;
                }
                // background-color: red;
                div{
                    font-size: 3.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                    width: 100%;
                    line-height: 3.75rem;
                    // background-color: burlywood;
                }

            }
        }
    }
    #side-nav{
        width: 5vw;
        background-color: $darkest;
    }

}

.upper-main{
    // height: 8rem;
    height: 20vh;
    // background-color: red;
    display: flex;
    padding-top: 1rem;
    align-items: flex-end;
    justify-content: center;
   
    
    & :nth-child(1){margin-left: 2.5vw;}
    & :nth-child(2){margin:0 2.5vw;}
    & :nth-child(3){margin-right: 2.5vw;}
    div{
        // width: 18rem;
        width: 25vw;
        // height: 6rem;
        height: 15vh;
    }
}

.lower-main{
    // background-color: blue;
    height: 60vh;
    // padding-top: 1.5rem;
    div{
        margin: 0 5vh;
        width: 70vw;
        height: 55vh;
    }
}

.stats-container{
    width: 100%;

    div{
        background-color: $dark;
        border-radius: 0.4rem;
    }
}

.main-container{
    height: 90vh;
}

footer{
    position: absolute;
    width: 70vw;
    // padding: 1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0;
    height: 5vh;
    font-size: 1rem;
    line-height: 2rem;
    color: #ccc;
    background-color: $darkest;
    margin: 0 2.5vw 0 2.5vw;
    
}
#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // background-color: yellow;
    font-size: 2.8rem;
    padding-left: 3rem;
    padding-top: 1rem;
    height: 15vh;
    // display: none;
}

.sidebar_stats{
    background-color:$dark;
    // margin-left: 2rem;
    // margin-right: 2rem;
    margin: 2.5vh 2.5vw 0 2.5vw;
    height: 15vh;
}